@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body{
     width: 100vw;
     height: 100vh;
     background-color: #8cc84c;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .wrapper{
     width: 500px;
     background-color: white;
     border-radius: 12px;
     padding: 20px;
 }

 .wrapper .title{
     font-size: 26px;
     font-weight: 600;
     margin-bottom: 20px;
 }

 .content{
      border: 1px solid rgb(172, 172, 172);
      border-radius: 6px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 6px;
 }

 .content li{
     list-style: none;
     font-size: 18px;
     background-color: #8cc84c;
     color: white;
     padding: 10px 5px;
     margin: 10px 4px 4px 10px;
     border-radius: 6px;
 }

 .content i{
     margin: 4px;
     font-weight: 200px;
 }

 .content input{
     font-size: 20px;
     padding: 10px 10px 0px 10px;
     margin: 4px 10px 10px 0px;
     border: none;
     outline: none;
     flex: 1;
 }

 .remove_all{
     margin-top: 20px;
     background-color: #8cc84c;
     color: white;
     font-size: 18px;
     padding: 10px 15px;
     border-radius: 6px;
     border: none;
     outline: none;
 }
