*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 80px;
    font-weight: 700;
    white-space: nowrap;
    color: #fd7d13;
}
.text p{
    text-shadow: 0 0 100px #fd7d13;
    overflow: hidden;
    animation: typing 10s steps(30) infinite, blink 1s infinite;
}

@keyframes typing {
    0%,100%{
        width: 0%;
    }

    70%, 90%{
        width: 100%;
    }
}

@keyframes blink{
    0%,100%{
        border-right: 10px solid transparent;
    }
    50%{
        border-right: 10px solid #fd7d13;
    }
}